body{
    text-align: center;
    font-size: 2rem;
}
h1{
    margin:50px 50px;
}
#color{
    color: rgb(6, 57, 112);
}
button{
    margin-top: 30px;
    padding: 5px 32px;
    font-size: 2rem;
    cursor: pointer;
}
